<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in/up</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="infobox">
        <h1>Hello <%= login %></h1>
    </div>

    <div class="buttons">
        <% if(admin) { %>
        <form action="http://localhost:3000/users/admin" method="GET">
            <button class="ui button" type="submit">Admin options</button>
        </form>
        <% } %>
        <form action="http://localhost:3000/users/loggedout" method="GET">
            <button class="ui button" type="submit">Logout</button>
        </form>
    </div>
</body>

</html>
