<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <style>
        body {
            background-color: #303030;
            padding: 10px; 
            font-family: 'Ubuntu', sans-serif;
        }
        
        .container {
            width: 40%;
            margin-top: 8%;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: #6b6b6b;
            border-radius: 5%;
            padding: 15px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="ui header">User <%= login %> registered successfully!</h1>        
    </div>
</body>
</html>