body {
    background-color: #303030;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.content {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
}

form{
    margin: 10%;
}

.button {
    width: 200px;
    margin-top: 15px;
}

.container .button {
    width: 100px;
    margin-left: 75%;
}

.container {
    width: 40%;
    margin-top: 8%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #666666;
    border-radius: 20px;
    padding: 15px;
}

h1 {
    font-weight: bold;
}

label {
    font-family: 'Ubuntu', sans-serif;
}

.infobox {
    width: 40%;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #b6b3b3;
    border: 3px solid forestgreen;
    border-radius: 5%;
    padding: 15px;
    text-align: center;
    color: forestgreen;
}
